!!!
%html
  %head
    %title= Codereview
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #header
        =render :partial => 'layouts/common/control_panel'
      #content
        = yield

    :javascript
      codereview.initialize();

